<div class="home-page">
  <%= render 'header' %>

  <div class="container">
    <%= render 'welcome' %>
    <%= render 'specials' %>
    <%= render 'about' %>
    <%= render 'mission' %>
    <%= render 'menu' %>
    <%= render 'contact' %>
  </div>

  <%= render 'footer' %>
</div>
