<div class="home-page">
  <%= render 'header' %>
  <%= image_tag 'bg1.png', id: 'bg1' %>
  <%= image_tag 'bg2.png', id: 'bg2' %>
  <div class="container">
    <%= render 'welcome' %>
    <%= render 'about' %>
    <%= render 'specials' %>
    <%= render 'mission' %>
    <%= render 'menu' %>
    <%= render 'contact' %>
  </div>

  <%= render 'footer' %>
</div>
