<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page %><br>
    <%= f.select :page, Page::PAGES.map { |p| [p, p] }, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :text %><br>
    <%= f.text_area :text, class: "form-control", rows: "15" %>
  </div>
  <div class="field form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<br>
