<!DOCTYPE html>
<html>
<head>
  <title>Krados</title>
  <meta name="viewport" content="width=device-width initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <div id="admin-bar">
      <div class="container">
        <span class="admin-info">Logged in as Admin: <%= current_admin.username %></span>
        <div class="pull-right">
          <%= link_to_unless_current "Admin Panel", admin_panel_url, class: "btn btn-default" %>
          <%= link_to_unless_current "Home Page", home_url, class: "btn btn-default" %>
          <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>

<script>
  AOS.init();
</script>
</body>
</html>
